[submodule "Group-Repo-1"]
	path = Group-Repo-1
	url = https://github.com/kreddy228/Group-Repo-1.git
[submodule "Group-Repo-2"]
	path = Group-Repo-2
	url = https://github.com/kreddy228/Group-Repo-2.git
[submodule "Group-Repo-3"]
	path = Group-Repo-3
	url = https://github.com/kreddy228/Group-Repo-3.git
[submodule "Group-Repo-4"]
	path = Group-Repo-4
	url = https://github.com/kreddy228/Group-Repo-4.git
[submodule "Group-Repo-5"]
	path = Group-Repo-5
	url = https://github.com/kreddy228/Group-Repo-5.git
[submodule "Group-Repo-6"]
	path = Group-Repo-6
	url = https://github.com/kreddy228/Group-Repo-6.git
[submodule "Group-Repo-7"]
	path = Group-Repo-7
	url = https://github.com/kreddy228/Group-Repo-7.git
